:root{
    --bg-color: #121212;
    --text-color: #ffffff;
    --link-color: #1e90ff;
}

@font-face {
    font-family: 'Instrument Serif';
    src: url(./fonts/InstrumentSerif-Regular.woff2) format('woff2'),
         url(./fonts/InstrumentSerif-Italic.woff2) format('woff');
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Instrument Serif', serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    font-size: x-large;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-style: italic;
}